<footer class="footer">
  <a href="#home" class="footer__anchor" title ="Ir al inicio de la página"
    ><img src="./assets/images/ico-arrow.svg" alt="Ir al inicio de la página" 
  /></a>
  <div class="menu">
    <nav>
      <ul class="menu__page">
        <li>
          <a href="https://adalab.es/" target="blank" class="menu__page--links" title="Articles"
            >Articles</a
          >
        </li>
        <li>
          <a href="https://adalab.es/" target="blank" class="menu__page--links" title="Books"
            >Books</a
          >
        </li>
        <li>
          <a href="https://adalab.es/" target="blank" class="menu__page--links" title="Events"
            >Events</a
          >
        </li>
        <li>
          <a href="https://adalab.es/" target="blank" class="menu__page--links" title="Reasons"
            >Reasons</a
          >
        </li>
        <li>
          <a href="https://adalab.es/" target="blank" class="menu__page--links" title="Tips"
            >Tips</a
          >
        </li>
      </ul>
    </nav>
    <nav>
      <ul class="menu__social">
        <li>
          <a
            href="https://adalab.es/"
            target="blank"
            class="menu__social--links" title="Twitter"
            >Twitter</a
          >
        </li>
        <li>
          <a
            href="https://adalab.es/"
            target="blank"
            class="menu__social--links" title="Instagram"
            >Instagram</a
          >
        </li>
        <li>
          <a
            href="https://adalab.es/"
            target="blank"
            class="menu__social--links" title="Mastodon.social"
            >Mastodon.social</a
          >
        </li>
      </ul>
    </nav>
    <small class="menu__small">
      <p >&copy; 2017</p>
      <p >we <span class="menu__small--heart">&#10084</span> components</p>
    </small>
  </div>
</footer>
