<footer class="footer">
  <a href="#home" class="footer__anchor"
    ><img src="./assets/images/ico-arrow.svg" alt="Ir al inicio de la página" title ="Ir al inicio de la página"
  /></a>
  <div class="footer__menus">
    <nav>
      <ul class="menu-page">
        <li>
          <a href="https://adalab.es/" target="blank" class="menu-page__links"
            >Articles</a
          >
        </li>
        <li>
          <a href="https://adalab.es/" target="blank" class="menu-page__links"
            >Books</a
          >
        </li>
        <li>
          <a href="https://adalab.es/" target="blank" class="menu-page__links"
            >Events</a
          >
        </li>
        <li>
          <a href="https://adalab.es/" target="blank" class="menu-page__links"
            >Reasons</a
          >
        </li>
        <li>
          <a href="https://adalab.es/" target="blank" class="menu-page__links"
            >Tips</a
          >
        </li>
      </ul>
    </nav>
    <nav>
      <ul class="menu-social-media">
        <li>
          <a
            href="https://adalab.es/"
            target="blank"
            class="menu-social-media__links"
            >Twitter</a
          >
        </li>
        <li>
          <a
            href="https://adalab.es/"
            target="blank"
            class="menu-social-media__links"
            >Instagram</a
          >
        </li>
        <li>
          <a
            href="https://adalab.es/"
            target="blank"
            class="menu-social-media__links"
            >Mastodon.social</a
          >
        </li>
      </ul>
    </nav>
    <small class="footer__menus--small">
      <p >&copy; 2017</p>
      <p >we <span class="small__heart">&#10084</span> components</p>
    </small>
  </div>
</footer>
