<footer class="footer">
  <div>
    <a href=""><img src="./assets/images/ico-arrow.svg" alt="" /></a>
  </div>
  <div class="footer__menus">
    <nav>
      <ul class="menu-page">
        <li>
          <a href="https://adalab.es/" target="blank">Articles</a>
        </li>
        <li>
          <a href="https://adalab.es/" target="blank">Books</a>
        </li>
        <li>
          <a href="https://adalab.es/" target="blank">Events</a>
        </li>
        <li>
          <a href="https://adalab.es/" target="blank">Reasons</a>
        </li>
        <li>
          <a href="https://adalab.es/" target="blank">Tips</a>
        </li>
      </ul>
    </nav>
    <nav>
      <ul class="menu-socia-media">
        <li>
          <a href="https://adalab.es/" target="blank">Twitter</a>
        </li>
        <li>
          <a href="https://adalab.es/" target="blank">Instagram</a>
        </li>
        <li>
          <a href="https://adalab.es/" target="blank">Mastodon.social</a>
        </li>
      </ul>
    </nav>
    <small class="footer__menus-small">
      <p>&copy; 2017</p>
      <p>we ❤︎ components</p>
    </small>
  </div>
</footer>
