<section class="section2">
  <h2 class="section2__title" id="section2">3 reasons to purchase</h2>
  <ul class="section2__articles">
    <li>
      <h3 class="section2__articles--title">Ut sed metus</h3>
      <p class="section2__articles--text">
        Lorem ipsum dolor sit amet, consecteur.
      </p>
    </li>
    <li>
      <h3 class="section2__articles--title">Curabitur ac erat</h3>
      <p class="section2__articles--text">
        Mauris mattis urna quis lorem molestie.
      </p>
    </li>
    <li>
      <h3 class="section2__articles--title">Morbi dictum</h3>
      <p class="section2__articles--text">
        Aliquam in dolor et dolor tincidunt.
      </p>
    </li>
  </ul>
  <a href="" class="section2__anchor" title="Artículo completo">More reasons</a>
</section>
