<section class="section2">
  <h2 class="section2__title">3 Reasons To Purchase</h2>
  <div class="section2__articles">
    <article>
      <h3 class="section2__articles--title">Ut sed metus</h3>
      <p class="section2__articles--text">
        Lorem ipsum dolor sit amet, consecteur.
      </p>
    </article>
    <article>
      <h3 class="section2__articles--title">Curabitur ac erat</h3>
      <p class="section2__articles--text">
        Mauris mattis urna quis lorem molestie.
      </p>
    </article>
    <article>
      <h3 class="section2__articles--title">Morbi dictum</h3>
      <p class="section2__articles--text">
        Aliquam in dolor et dolor tincidunt.
      </p>
    </article>
  </div>
  <a href="" class="section2__anchor">More reasons</a>
</section>
