/* colors */
$color-dark: #304268;
$color-medium: #0271bc;
$color-light: #8ccbea;
$color-complementary: #f26002;
$color-header-footer: #ffffff;

/* fonts */
$font-title: "Roboto Slab", serif;
$font-text: "Roboto", sans-serif;
