.section2 {
  text-align: center;
}

.section2__articles {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

@media all and (min-width: 768px) {
  .section2__articles {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
}
