/* reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* header */

.header {
  position: fixed;
  background-color: #0271bc;
  width: 44px;
  height: 44px;
}

/* main-hero */

.hero {
  height: 100vh;
  background-image: url("../images/cover.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

/* section1 */

.section1 {
}
.section1__description {
  text-align: left;
}

.section1__title {
  text-align: left;
}

.section1__text {
  text-align: left;
}

.section1__anchor {
  text-align: left;
}
/* section2 */

.section {
  text-align: center;
}

.section2__articles {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

/* footer */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media all and (min-width: 768px) {
  .section2__articles {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  /*footer*/
  .footer__menus {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .footer__menus-small {
    order: -1;
  }
}

@media all and (min-width: 1200px) {
  /*footer*/
  .footer__menus {
    justify-content: center;
  }
}
